# Python Basic commands

Learning python basic

In [1]:
#working with operators 

5+5

10

In [2]:
4-2

2

In [3]:
10/2

5.0

In [4]:
#Floor division 
10//2

5

In [5]:
#Modulus
10%3

1

In [6]:
#power off
4**2

16

In [7]:
5**3

125

Working with the variables

In [8]:
a=2

In [9]:
b=3

In [10]:
a

2

In [11]:
b

3

In [12]:
a+b

5

In [13]:
c=a+b

In [14]:
c

5

In [15]:
d=b-a

In [16]:
d

1

In [17]:
e=a**2

In [18]:
e

4

In [19]:
print('value of e =',e)

value of e = 4

Area of rectangle

In [20]:
length=30
breadth=6

In [21]:
area=length*breadth
print ('area of rectangle is =',area)

area of rectangle is = 180

In [22]:
print ('area of rectangle is =',area,'with length =', length , 'and with breadth= ', breadth)

area of rectangle is = 180 with length = 30 and with breadth=  6

Length in python

In [23]:
len('amit')

4

In [24]:
len("Elon_musk")

9

In [25]:
len('india')

5

In [26]:
len('country')

7

In [27]:
country='india'

In [28]:
len(country)

5

Bollean operations

In [29]:
10>=3

True

In [30]:
5<=10

True

In [31]:
10<=5

False

In [32]:
10<=10

True

Comparision operation

In [33]:
10==10

True

In [34]:
15==7

False

In [35]:
#not equal to 
18!=13

True

In [36]:
18!=13 or 18!=18

True

In [37]:
5==5

True

User input

In [38]:
# write code and  run  ,later  enter value and hit enter (not run)
x=input('enter any value ')

enter any value 50

In [39]:
x

'50'

In [40]:
city=input('enter a city name ')

enter a city name Pune

In [41]:
city

'Pune'

String concatination

In [42]:
"ab"+"cd"

'abcd'

In [43]:
"amit "+"patel"

'amit patel'

In [44]:
Firstname ="Salina "
Lastname ="Patel"

In [45]:
Firstname +Lastname

'Salina Patel'

In [46]:
Name = Firstname +Lastname

In [47]:
Name

'Salina Patel'

In [48]:
len(Name)

12

In [49]:
#type of any given input
type(56)

int

In [50]:
type(Name )

str

In [51]:
type(56.88)

float

In [52]:
type(city)

str

In [53]:
type(x)

str

In [54]:
type('x')

str

In [55]:
Marks =59
type(Marks)

int

In [56]:
#Changing one data type to another
float(Marks)

59.0

Type casting of a variable

In [57]:
#type was initially assigned 
type(Marks)

int

In [58]:
Teacher =float(Marks)
Teacher

59.0

In [59]:
type(Teacher)

float

In [60]:
#str to in 
Num1="101"

In [61]:
Num1

'101'

In [62]:
Num2=int(Num1)

In [63]:
Num2

101

In [64]:
type(Num2)

int

In [65]:
#add number with user input
num1=int(input(' type 1st number' ))

 type 1st number5

In [66]:
type(num1)

int

In [67]:
num2=int(input(' type 2nd number' ))

 type 2nd number6

In [68]:
type(num2)

int

In [69]:
num1+num2

11

Note ****User input always returns Str type output so type casting  should be done initially so INT is added in the above  lnes of code  for  type casting  .

Area of a square

In [70]:
Side =int(input("type any number " ))

type any number 8

In [71]:
Area_of_square=(Side*4)
print("Area of the saure is =",Area_of_square)

Area of the saure is = 32

circle area

In [75]:
r=int(input('Enter radius '))

Enter radius 5

In [77]:
# BMI  calculation formula 
Heighht=4.85
Weighht=50
BMI=Weighht/Heighht**2
print ("BMI is ",BMI)

BMI is  2.125624402168137

In [78]:
round(BMI, 2)

2.13

In [82]:
# Circuference (pi_r_ square)
#pi & r value  is already defined above so 
Cir = pi*r**2
Cir

6358.5

In [81]:
pi=3.14
r=int(input("give the radius"))

give the radius45

In [87]:
Area_of_circle= pi*(r**2)
Area_of_circle

6358.5

In [88]:
# Perimeter of  triangle  (2*len*bredth) (auto)
Len=3
Bred=5
Triangle_perimeter=(2*Len*Bred)
print("Traiangle perimeter is",'(',Triangle_perimeter,')',"cm" )

Traiangle perimeter is ( 30 ) cm

In [91]:
# Perimeter of  triangle  (2*len*bredth) (Manual)
Leng=int(input("enter length "))

enter length 4

In [90]:
Bredt=int(input("enter bredth "))

enter bredth 5

In [94]:
Triangle_perimeter=(2*Leng*Bredt)
print("Traiangle perimeter is",'(',Triangle_perimeter,')',"cm" )

Traiangle perimeter is ( 40 ) cm

In [45]:
Firstname +Lastname

'Salina Patel'

# POST SESSION PRACTICE - 09*05*21

Q>>>In the first 10 overs of a cricket game, the run rate was only 3.2. What should be the run rate in the remaining 40 overs to reach the target of 282 runs?

In [3]:
Tot_over=50
fin_over=10
fin_runrate=3.2
rem_over=40
tar_run=282

Current_runs =(fin_over*fin_runrate)
Current_runs

32.0

In [12]:
Remaining_runs = (tar_run-Current_runs)
print("Remaining runs are", Remaining_runs )

Remaining runs are 250.0

In [8]:
Req_runrate=(Remaining_runs/rem_over)
print ("Required  runrate   for the remaining overs is",Req_runrate , "runs per over")

Required  runrate   for the remaining overs is 6.25 runs per over

In [1]:
#assignation of single value to multiple variable 
q=w=e=r=5

In [2]:
q

5