# Functions

### Built in functins

In [13]:
k=[2,15,14,81,16,14,54,19,14,17,16,98]
min(k)

2

In [15]:
max(k)

'0b10'

In [18]:
#test
callable(4)

False

In [41]:
txt = "Hello,i do welcome to my world."

x = txt.find("welcome")

print(x)

#the value is the positional number of the first letter in the line

11

In [43]:
#returns  the character for value in the unicode 
chr(80)

'P'

In [42]:
mydict = {83:  80}  # the numbers assigned are the code unicode code of characters (convert {S: P})
txt = "Hello Sam!" 
print(txt.translate(mydict))

Hello Pam!

In [19]:
bin(44)

'0b101100'

In [4]:
abs(5)

5

In [9]:
bool(4)

True

### User defined functions  ( def )

In [4]:
#function definantion 
def f1 ():
    print ("learning f1")

In [5]:
#calling
f1()

learning f1

In [6]:
def f2 ():
    print ("usage of function in python ")

In [7]:
f2()

usage of function in python

In [8]:
def f3():
    print ( "define a functine ")
    print ("call the function ")

In [9]:
f3()

define a functine
call the function

In [10]:
def addfun ():
    a=5
    b=99
    print(a+b)

In [11]:
addfun()

104

In [12]:
def addfun1 ():
    q=5
    w=9
    r=q+w
    print ( "the value of r is ", r )

In [13]:
addfun1()

the value of r is  14

In [14]:
def sub():
    X=66
    Y=55
    print (X-Y)
    
sub()

11

In [15]:
def multiplication ():
    d=int (input(" type the num"))
    g=5
    print(d*g)
    
multiplication()

 type the num5
25

In [16]:
# area of rectangle 
def rectarea ():
    l= int (input("  give length"))
    b=int (input ( "give breadth "))
    a=l*b
    print ( "area of the rectangle is ",a)
    
rectarea()

  give length6
give breadth 6
area of the rectangle is  36

In [17]:
# area of circle 
def cirarea ():
    pi=3.14
    r=float(input( "write the radius"))
    area=pi*(r**2)
    print ( "circle area is ", area , "CM")
    
cirarea()

write the radius5
circle area is  78.5 CM

### Parametric functions

In [18]:
# to give the inputvalue at rutime 
def add(a,b):
    d=a+b
    print (d)

In [19]:
add(10,20)

30

In [20]:
#area of rectangle  with  user input 
def rect (l,b):
    area=l*b
    print (" Area of  rectangle is ",area, "cm")

In [21]:
rect(int(input("type L =")),int (input( "Type B =")))

type L =4
Type B =9
 Area of  rectangle is  36 cm

### functions in loops

In [22]:
#  functions in loops 
def sq():
    for i in range (5):
        print(i**2)

In [23]:
sq()

0
1
4
9
16

### function in  function

In [24]:
def fun1():
    print(" i am no 1")

In [25]:
def fun2():
    fun1()
    print( " i am no 2 ")

In [26]:
fun2()

 i am no 1
 i am no 2

In [27]:
#introducton to return function 
def run1():
    for x in range (2,20,2):
        print(x , end =" ")
    
    
run1()

2 4 6 8 10 12 14 16 18

In [28]:
def run():
    for x in range (10) :
        if x==5:
            return
        print (x , end =" ")

In [29]:
run()

0 1 2 3 4

### Returning value

In [26]:
# area of 1 rectangle 
def arearect( ):
    l=2
    b=50
    area=l*b
    print ('value is ' , area)
    return area

In [27]:
arearect()

value is  100

100

In [28]:
type(arearect)

function

In [29]:
type(arearect())

value is  100

int

In [48]:
#relating to above output , area of 5 rectangle is 
def rectall():
    tot=arearect()*5  # including the previous function inside this one 
    
    print (tot)
    
rectall()

value is  100
500

### Variable number of argument  ( Works with internal functions only )

In [4]:
def plus (*args):
    return sum (args)

plus(2,5,8,7,9,1,10,15,6)

63

In [3]:
def min(*args):
    return max(args)

min(5,8,7,6,7,3,9)

9

### Count

In [5]:
#s=s+n can also be written as +=n
def addfun(*numbers):
    s=0
    for i in numbers:
        s=s+i
    return s

In [6]:
print(addfun(1,2,3))

6

In [7]:
print(addfun(1,5,6,8,9))

29

# String formats  >>> %s = String value  --- %d= integer value

In [44]:
name="amit"
print ( "%s is my name "%name )

amit is my name

In [2]:
name="mridul"
age=26
print ( "%s is %d year old "%(name,age))

mridul is 26 year old

### String.format function

In [1]:
name="ipsita"
age=25
print ( "{} is {} years old ".format(name ,age ))

ipsita is 25 years old

In [50]:
#indexing 
name1="Egg"
name2="Chicken"

print ("{0} gives {1}".format(name1,name2))
print ("{1} gives {0}".format(name1,name2))

Egg gives Chicken
Chicken gives Egg

In [13]:
name ="amit"
n1="shelly"
t=6
print ("{} has gone mad for {}".format(name,n1))
print('"its been %d years" , "yet %s %s have not met"'%(t,name,n1))

amit has gone mad for shelly
"its been 6 years" , "yet amit shelly have not met"

# Anonymous function ( LAMBDA FUNCTION)

One line expression funtion

In [1]:
t=lambda x:x*2
t(5)

10

In [2]:
m=lambda x,y:x*y
m(5,6)

30

In [4]:
m(2,9)

18

In [6]:
add=lambda x,y,z : x+(y*z)
add(2,3,4)

14

In [8]:
#square 
sq=lambda x:x**2
sq (int (input("write the num")))

write the num5

25

In [8]:
addvar =lambda arg1,arg2: arg1+arg2
print (" value of total is  " , addvar("amit","patel"))

 value of total is   amitpatel

# Farenheit to celcius

In [11]:
#Cel to far
def farenheit (T):
    return ((9/5)*T+32)

In [13]:
f=farenheit(15)
f

59.0

In [21]:
#far to cel 
def celcius (T):
    return ((5/9)*(T-32))

In [23]:
c=celcius (59)
c

15.0

In [25]:
#writing the same in lambda function 
cel=lambda t:((5/9)*(t-32))
cel(35)

1.6666666666666667

In [26]:
far=lambda t:((9/5)*t+32)
far(1.66)

34.988

# MAP Function

Map function helps to put the inputs in list one by one to the fuction to show all the results

In [32]:
num= [1,2,3,4,9]
list (map(lambda x:x**3 , num))

[1, 8, 27, 64, 729]

In [39]:
temp=[15,35,45]
f=list(map(lambda t:(9/5)*t+32,temp))
f

[59.0, 95.0, 113.0]

In [40]:
c=list(map(lambda t:(5/9)*(t-32),temp))
c

[-9.444444444444445, 1.6666666666666667, 7.222222222222222]

### rounding

In [46]:
Roundc=["%.2f"%i for i in c]
print(Roundc)

['-9.44', '1.67', '7.22']

# Filter function

In [54]:
num=[1,2,3,4,5,6,7]
x=(list(filter(lambda x:x>3 ,num)))
print(x)

[4, 5, 6, 7]

In [66]:
even=(lambda x:x%2==0 )
y=list(filter(even,range(1,15)))
print(y)

[2, 4, 6, 8, 10, 12, 14]

# Exception handling ( try , Except , finally)

In [5]:
def divide (x,y):
    try:
        result=x/y
    except ZeroDivisionError:
        print ("devided by Zero ")
    else: 
        print( "result is ",x/y)
    finally:
        print ("final functon exicuted ")

In [6]:
divide(7,2)

result is  3.5
final functon exicuted

In [7]:
divide(8,0)

devided by Zero
final functon exicuted

# practice session 10062021

In [40]:
def sqtr (num):
    powr= 2
    value= num**powr
    return value

In [46]:
sqtr (9)

81

In [47]:
print(_)

81

Also can be written in lambda function

In [50]:
sqtrr=lambda x,y:x**y
sqtrr(9,2)

81

In [56]:
import math as m

In [66]:
m.sqrt(sqtrr(9,2))

9.0

### >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [81]:
num=5
powr=5
def mul():
    val=num*powr
    return val

#in this case the num assigned out side as a global variable  is being taken as the argument 
#def takes no argument here

In [82]:
mul()

25

In [79]:
def mull(num):
    powr=6
    val=num*powr
    return (val)
# here the num is taken argumenyt and power  is the function variablewhich dose not exist outside

In [80]:
mull(5)

30

### >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [107]:
import numpy

In [125]:
def div (foo):
    poww=5
    val=foo/poww
    return val

In [126]:
num=numpy.array([1,5,6,8,9])

In [127]:
div (num)

array([0.2, 1. , 1.2, 1.6, 1.8])

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# practice session 04062021

In [15]:
def pr(num):
    for i in range (int (input("num"))):
        print (i-5, i*i)

In [20]:
pr(5)

num4
-5 0
-4 1
-3 4
-2 9

In [28]:
def pr(num):
    for i in range (num):
        print (i-(num*2-1), i*i ,)

In [29]:
pr(8)

-15 0
-14 1
-13 4
-12 9
-11 16
-10 25
-9 36
-8 49

In [61]:
def shape(num):
    for i in range (num):
        for i in range (num):
            print("#", end= " ")
    
        print ()

In [62]:
shape(5)

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [56]:
def sq():
    for j in range (5):
        for i in range (5):
            print ("#" ,end =" " )
        print()

In [57]:
sq()

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [58]:
for j in range (5):
        for i in range (5):
            print ("#" ,end =" " )
        print()

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [71]:
for j in range (6):
        for i in range (j):
            print (i**j,end =" " )
        print()

0
0 1
0 1 8
0 1 16 81
0 1 32 243 1024

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# practice session  17062021

In [6]:
x=[1,2,3,4,5,6,7,8,9]
def even():
    for i in x:
        if i%2==0:
            print (i)
even()

2
4
6
8

In [12]:
y=[1,2,3,4,5,6,7,8,9]
def temp(T):
    return ((T*8-1)*4)
    
f=list(map(temp,y)) #values of Y being passed to T 
f

[28, 60, 92, 124, 156, 188, 220, 252, 284]

In [15]:
z=[1,2,3,4,5,6,7,8,9]
def temp(T):
    if(T%2==0):
        print (T)
        return True
    
f=list(filter(temp,z)) #values of z being passed to T 
f

2
4
6
8

[2, 4, 6, 8]

In [20]:
even_check=lambda x,y:x%y==0
even_check(8,9)

False

In [25]:
 #same function with filter 
z=[1,2,3,4,5,6,7,8,9]
list(filter(lambda x:x%2==0 ,z)) # set or list both can be used

[2, 4, 6, 8]