# LOOPS  (#initilaization , #Condition , #increament / decreament )

# While loop

In [1]:
#initialization
i=0
#condition
while (i<4):
    print (i)
#increament / decreamnet
    i=i+1

0
1
2
3

In [10]:
#candy vending 
i=6 
total=6
while (i<=total) :
    print ("candy\n"*i)
    i=i+1
print( " out of stock ")

candy
candy
candy
candy
candy
candy

 out of stock

In [25]:
#single line output 
a=0 
while (a<=9) :
    print (a , end=" ")
    a=a+1

0 1 2 3 4 5 6 7 8 9

In [26]:
v=0 
while (v<=99) :
    print (v , end=" ")
    v=v+6

0 6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [29]:
#decreament 
x=100
while (x>50):
    print(x , end =" ")
    x=x-2
print (" rest numbers are less than x")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52  rest numbers are less than x

In [50]:
numbers=[2,3,4,5,6]
x=numbers[1]
x

3

In [55]:
numbers=[2,3,4,5,6]
x= numbers[-3]
while x<=len(numbers):
    for i in numbers :
        print(i*i)
    x+=1

4
9
16
25
36
4
9
16
25
36

# Nested while

In [19]:
x=0
while x<5 :
    print (x ,"1st loop ")
    y=2
    while y<=3:
        print(y, "2nd loop")
        y+=1    
    print (x*y ,"mulitpled")
    x+=1

0 1st loop
2 2nd loop
3 2nd loop
0 mulitpled
1 1st loop
2 2nd loop
3 2nd loop
4 mulitpled
2 1st loop
2 2nd loop
3 2nd loop
8 mulitpled
3 1st loop
2 2nd loop
3 2nd loop
12 mulitpled
4 1st loop
2 2nd loop
3 2nd loop
16 mulitpled

In [2]:

i=1
while i<=3 :
    print(i,"Outer loop is executed only once")
    j=1
    while j<=3:
        print(j,"Inner loop is executed until to completion")
        j+=1
    i+=1;

1 Outer loop is executed only once
1 Inner loop is executed until to completion
2 Inner loop is executed until to completion
3 Inner loop is executed until to completion
2 Outer loop is executed only once
1 Inner loop is executed until to completion
2 Inner loop is executed until to completion
3 Inner loop is executed until to completion
3 Outer loop is executed only once
1 Inner loop is executed until to completion
2 Inner loop is executed until to completion
3 Inner loop is executed until to completion

# FOR LOOP

In [22]:
#Source values
y=[1,2,3,4,5,6,7,8,9,10]

In [27]:
#operation 
for val in y :
    print (val+2 , val )

3 1
4 2
5 3
6 4
7 5
8 6
9 7
10 8
11 9
12 10

In [26]:
for i in [1,2,3] :
    print (i)

1
2
3

In [43]:
name =("amit","sumit","ajit","sushree","sanjeet")
for i in name:
    print (i [-1] , i [0] , end ="   ")
    print( i )
print( "end of for loop ")

t a   amit
t s   sumit
t a   ajit
e s   sushree
t s   sanjeet
end of for loop

In [1]:
number =[2,5,8,9,7,7,9]
for i in number:
    print ( i  , i*i ,i**i)

2 4 4
5 25 3125
8 64 16777216
9 81 387420489
7 49 823543
7 49 823543
9 81 387420489

In [30]:
#range function 
num=range(20)
for i in num :
    print (i**2 , end ="  ")

0  1  4  9  16  25  36  49  64  81  100  121  144  169  196  225  256  289  324  361

In [50]:
xy=list(range (20))

In [51]:
xy

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
for i in xy :
    print (i , end=" " )

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [59]:
numbers=[2,3,4,6,9,7,8,9]

for i in numbers:    
    squares=[x*x for x in numbers]
    print ( i , squares)

2 [4, 9, 16, 36, 81, 49, 64, 81]
3 [4, 9, 16, 36, 81, 49, 64, 81]
4 [4, 9, 16, 36, 81, 49, 64, 81]
6 [4, 9, 16, 36, 81, 49, 64, 81]
9 [4, 9, 16, 36, 81, 49, 64, 81]
7 [4, 9, 16, 36, 81, 49, 64, 81]
8 [4, 9, 16, 36, 81, 49, 64, 81]
9 [4, 9, 16, 36, 81, 49, 64, 81]

In [7]:
lis=list(range(3))
for i in lis:
    for i in lis:
        print (i+1)
        print("inner loop end ")
    print("end")

1
inner loop end
2
inner loop end
3
inner loop end
end
1
inner loop end
2
inner loop end
3
inner loop end
end
1
inner loop end
2
inner loop end
3
inner loop end
end

range function for value assignantion

In [67]:
#normal range 
k=list(range(20))
k

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [63]:
#range with start and end 
m=list(range(1,11))
m

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
#range with start , end and jump 
n=list (range (1,25,3))
n

[1, 4, 7, 10, 13, 16, 19, 22]

In [4]:
ran=range (30)
for i in ran:
    if i%2==0:
        print (i)
print (" those are all the even  numbers")

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
 those are all the even  numbers

## Break statement  and continue statement

### Break

In [71]:
#it breaks the loop and stops iteration
for i in [1,2,3,4,5] :
    if (i==3):
        break
    print (i)

1
2

### Continue

In [72]:
# it skips the iteration in case the statement is  true and continues for the next value 
for i in [1,2,3,4,5] :
    if (i==3):
        continue
    print (i)

1
2
4
5

In [82]:
colours=["red","yellow",'orange',"White","green","pink"]

In [83]:
for i in colours :
    if (i=="green"):
        break
    print (i)

red
yellow
orange
White

In [84]:
for i in colours :
    if (i=="White"):
        continue
    print (i)

red
yellow
orange
green
pink

### LOOP WITH LIST

In [88]:

S=[]
for i in range(3,25,2):
    S.append(i)
    
print(S)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

### List comprehension

In [92]:

list1=[1,2,3,4,5]
m=[d for d in list1] 

print(m)

[1, 2, 3, 4, 5]

In [93]:
#specific comprehension for sepecific data 
list2=[10,11,20,22,25,11,245,65,80]
n=[d for d in list2 if d%2==0] 

print(n)

[10, 20, 22, 80]

### Mutated vale of one list in another list

In [13]:

list11=[55,56,56,57,58,59]
list12=[ x//2 for  x in list11]
print(list12)

[27, 28, 28, 28, 29, 29]

In [14]:
list11

[55, 56, 56, 57, 58, 59]

In [15]:
list12

[27, 28, 28, 28, 29, 29]

### LOOP WITH DICTIONARY

In [1]:
d={1:"air",2:"Water",3:"earth",4:"space",5:"fire"}
for k in d:
    print(k , end=" ")

1 2 3 4 5

In [2]:
for k in d:
    print (d[k] , end=" ")

air Water earth space fire

In [28]:
#Viewing salary with exception as continue 
sal={"amit":"18", "Bhagwati":"25","anbu":"42","mohan":"50" ,"utthu":"75","punn":"65","Srg":"326"}
for k in sal:
    if (sal[k]=="326" or sal[k]=="42"):
        continue
    print (k)

amit
Bhagwati
mohan
utthu
punn

In [11]:
#Viewing salary with exception as break
sal={"amit":"18", "Bhagwati":"25","anbu":"42","mohan":"50" ,"utthu":"75","punn":"65","Srg":"326"}
for k in sal:
    if (sal[k]=="326" or sal[k]=="75"):
        break
    print (k)

amit
Bhagwati
anbu
mohan

# STRING FUNCTIONS

In [111]:
word="my name is Amit patel"

In [112]:
word1="123456"

In [113]:
word.lower()

'my name is amit patel'

In [114]:
word.upper()

'MY NAME IS AMIT PATEL'

In [115]:
word.islower()

False

In [116]:
word.isupper()

False

In [119]:
city="pune"

In [120]:
city.isalpha()

True

In [121]:
word1.isnumeric()

True

In [122]:
word1.isalpha()

False

In [123]:
city.capitalize()

'Pune'

In [8]:
col1="red"
col2="ReD"
if col1.casefold()==col2.casefold() :
    print (" words are matching ")
else:
    print(" words are not matching ")

 words are matching

In [10]:
col1="red"
col2="ReD"
col1.casefold()==col2.casefold()

True