# Live session -4  09052021

#    #INTRODUCTION TO DATA STRUCTURE

# List  [Value , value ] , Mutable in nature .

In [16]:
#homogeneious/Samedata type and heterogenious/different  data type .
L1=[1,2,3,4]
L2=[2.4,2.5,3.5,88.1]
L3=['amit',"sanjeet", 'ansh', "ajit "]
L4=["Sourav" , 24 , 25.11]

number list /  int list

In [17]:
L1

[1, 2, 3, 4]

In [18]:
type(L1)

list

In [19]:
L2

[2.4, 2.5, 3.5, 88.1]

In [20]:
L3

['amit', 'sanjeet', 'ansh', 'ajit ']

In [21]:
L4

['Sourav', 24, 25.11]

In [22]:
L1

[1, 2, 3, 4]

In [23]:
L1[0]

1

In [24]:
#every run in adds 6 to the value of L1[0] or the assigned variable 
L1[0]+=6
L1[0]

7

In [25]:
L1

[7, 2, 3, 4]

In [26]:
# pop removes the last item in the list 
L1.pop()
L1

[7, 2, 3]

String type lists

In [11]:
Planets = ['mercury','Venus','Earth ','mars']
Planets

['mercury', 'Venus', 'Earth ', 'mars']

In [12]:
# Append adds data at the end 
Planets.append ('saturn')
Planets

['mercury', 'Venus', 'Earth ', 'mars', 'saturn']

In [13]:
len(Planets)

5

In [14]:
Planets.pop()

'saturn'

In [15]:
#indexing 
Planets[1]

'Venus'

In [16]:
Planets[2]

'Earth '

In [17]:
type(Planets)

list

In [18]:
Planets[1], Planets[-1]

('Venus', 'mars')

In [19]:
print ( Planets[2] , 'Revolves  around  sun .')

Earth  Revolves  around  sun .

In [20]:
Planets.insert(3,'jupiter')
Planets

['mercury', 'Venus', 'Earth ', 'jupiter', 'mars']

In [21]:
# without semi colon  it gives the length value of list 
len(Planets)

5

In [27]:
len('Planets')

7

In [22]:
Planets.pop()

'mars'

In [23]:
Planets

['mercury', 'Venus', 'Earth ', 'jupiter']

In [24]:
#Slicing 
Planets [0:2]

['mercury', 'Venus']

In [25]:
#Certain point to End   . 
Planets [2:]

['Earth ', 'jupiter']

In [26]:
# Start to certain  point 
Planets [:3]

['mercury', 'Venus', 'Earth ']

Note *****starting point is included  and ending point is excluded

In [27]:
 Planets [1:3]

['Venus', 'Earth ']

In [28]:
Planets [:]

['mercury', 'Venus', 'Earth ', 'jupiter']

Mixed list

In [29]:
mixedlist=['amit', 2,55.8,'a',99,'Sushree','My cat is lazzzy ']

In [30]:
mixedlist[0:4]

['amit', 2, 55.8, 'a']

In [31]:
mixedlist[6]

'My cat is lazzzy '

In [32]:
mixedlist[4]

99

In [33]:
#get specific data  fromthe list
print ([mixedlist[0],mixedlist[6]])

['amit', 'My cat is lazzzy ']

In [34]:
mixedlist

['amit', 2, 55.8, 'a', 99, 'Sushree', 'My cat is lazzzy ']

In [35]:
mixedlist.pop(3)

'a'

In [36]:
mixedlist

['amit', 2, 55.8, 99, 'Sushree', 'My cat is lazzzy ']

In [37]:
len(mixedlist)

6

In [38]:
 from collections import deque

In [39]:
mixedlist.pop()

'My cat is lazzzy '

In [40]:
# specify the data with the namme which is intended to remove  ( note . 99 is already removed )
mixedlist.remove(55.8)

In [41]:
mixedlist

['amit', 2, 99, 'Sushree']

In [42]:
Planets

['mercury', 'Venus', 'Earth ', 'jupiter']

In [43]:
Planets.sort()
Planets

['Earth ', 'Venus', 'jupiter', 'mercury']

In [44]:
Planets.reverse()
Planets

['mercury', 'jupiter', 'Venus', 'Earth ']

In [45]:
Stars=['sun','moon']

In [46]:
Planets.extend(Stars)

In [47]:
Planets

['mercury', 'jupiter', 'Venus', 'Earth ', 'sun', 'moon']

In [48]:
# concatinanton for  printing together 
Space = (Planets + Stars)

In [49]:

Space

['mercury', 'jupiter', 'Venus', 'Earth ', 'sun', 'moon', 'sun', 'moon']

In [50]:
Planets

['mercury', 'jupiter', 'Venus', 'Earth ', 'sun', 'moon']

In [51]:
Planets.extend (['uranus', 'saturn'])

In [52]:
Planets

['mercury', 'jupiter', 'Venus', 'Earth ', 'sun', 'moon', 'uranus', 'saturn']

In [53]:
 su=[x+x for x in Planets]
print (su , end ='')

['mercurymercury', 'jupiterjupiter', 'VenusVenus', 'Earth Earth ', 'sunsun', 'moonmoon', 'uranusuranus', 'saturnsaturn']

 List merging

In [54]:
L1=[1,2,3,4]
L2=[2.4,2.5,3.5,88.1]
L3=['amit',"Shelly", 'renu', "ajit "]
L4=["Sourav" , 24 , 25.11]

In [55]:
from itertools import chain as ch

In [56]:
all=ch(L1,L2,L3,L4)
print(list(all))

[1, 2, 3, 4, 2.4, 2.5, 3.5, 88.1, 'amit', 'Shelly', 'renu', 'ajit ', 'Sourav', 24, 25.11]

 list mutability

In [57]:
listnum=[1,2,3,4,5,6,7,88]

In [58]:
listnum

[1, 2, 3, 4, 5, 6, 7, 88]

In [59]:
listnum[7]= 8

In [60]:
listnum

[1, 2, 3, 4, 5, 6, 7, 8]

In [115]:
listnum.index(6)

5

# Tuples ( value , value)  .Immutable in nature

In [61]:
Tup1=('Sumit' , "Amit","Ajit","Sanjeet",'Sushree', 'Ansh ')
Tup1

('Sumit', 'Amit', 'Ajit', 'Sanjeet', 'Sushree', 'Ansh ')

In [62]:
Tup1[2]

'Ajit'

In [63]:
Tup1[2:]

('Ajit', 'Sanjeet', 'Sushree', 'Ansh ')

In [64]:
#Tup1.append('X.men')

In [65]:
#Tup1.pop()

In [66]:
Tup1.index("Amit")

1

In [116]:
len(Tup1)

6

# Dictionay { Key:Value }  , Mutable in nature

In [37]:
Siblings={'1ST':'Suman' ,'2ND':"Amit",'3RD':"Ajit",'4TH':"Sanjit",'5TH':'Sushree', '6TH':'Ansh'}

In [38]:
Siblings['5TH']

'Sushree'

In [39]:
Siblings ['4TH']

'Sanjit'

In [40]:
Siblings['4TH']= "Sanjeet"
Siblings

{'1ST': 'Suman',
 '2ND': 'Amit',
 '3RD': 'Ajit',
 '4TH': 'Sanjeet',
 '5TH': 'Sushree',
 '6TH': 'Ansh'}

In [41]:
Siblings['1ST']

'Suman'

In [42]:
print(Siblings ['1ST'])

Suman

In [43]:
type(Siblings)

dict

In [44]:
type('Siblings')

str

In [76]:
Siblings.keys()

dict_keys(['1ST', '2ND', '3RD', '4TH', '5TH', '6TH'])

In [77]:
Siblings.values()

dict_values(['Sumit', 'Amit', 'Ajit', 'Sanjeet', 'Sushree', 'Ansh'])

In [78]:
Siblings.update({'7TH': "**UNKNOWN**"})

In [79]:
Siblings

{'1ST': 'Sumit',
 '2ND': 'Amit',
 '3RD': 'Ajit',
 '4TH': 'Sanjeet',
 '5TH': 'Sushree',
 '6TH': 'Ansh',
 '7TH': '**UNKNOWN**'}

### >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

Number type dicionary

In [119]:
#key : [list item as values ]
Marks={"amit":[10,20,30], "Ajit":[40,50,60],"Sushree":[70,80,0]}

In [120]:
Marks["amit"][1]

20

In [121]:
Marks["Sushree"][-1]

0

In [122]:
#addition / mathematical operation  to the value of dictionary 
Marks["Sushree"][-1]+=(45*2)
Marks["Sushree"][-1]

90

In [84]:
Marks["Sushree"]

[70, 80, 90]

In [85]:
# looping dictionary values 
for x in Marks["Sushree"] : 
    print(x-15*2 , end ='  ')

40  50  60

## Question from Data trained video tutorial

In [86]:
Marks

{'amit': [10, 20, 30], 'Ajit': [40, 50, 60], 'Sushree': [70, 80, 90]}

In [87]:
# here i represts  the key and J represents the  value  while printing 
for i,j in Marks.items():
    if i=="Ajit":
        print (j[1])

50

### >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

# Live session -5  15052021

Dictionary

In [45]:
colourdict={"rock":"brown","tree":"gree","apple":"red","banana":"yellow"}

In [46]:
colourdict.items()

dict_items([('rock', 'brown'), ('tree', 'gree'), ('apple', 'red'), ('banana', 'yellow')])

In [47]:
#add one more item to dict
colourdict.update({"rose":"pink"})

In [48]:
colourdict

{'rock': 'brown',
 'tree': 'gree',
 'apple': 'red',
 'banana': 'yellow',
 'rose': 'pink'}

In [49]:
#fetch value
colourdict["rose"]

'pink'

In [50]:
#delete item
del colourdict["rock"]

In [51]:
colourdict

{'tree': 'gree', 'apple': 'red', 'banana': 'yellow', 'rose': 'pink'}

In [52]:
#delete item with pop
colourdict.pop("banana")

'yellow'

In [53]:
colourdict

{'tree': 'gree', 'apple': 'red', 'rose': 'pink'}

### Dictionary with multiple values

In [97]:
colour={1:["red","yellow","blue"] , 2:["white","green","pink"],3:["orange ","black","purple"]}

In [98]:
colour

{1: ['red', 'yellow', 'blue'],
 2: ['white', 'green', 'pink'],
 3: ['orange ', 'black', 'purple']}

In [99]:
#fetching the primary comlete value with key no.
colour[1]

['red', 'yellow', 'blue']

In [100]:
# fetching inner value of a key with key no index no . 
colour[1][2]

'blue'

In [101]:
# fetching multiple inner value of a key with key no index no .
colour[1][2] , colour[2][1]

('blue', 'green')

In [102]:
colour[2][2].upper()

'PINK'

In [103]:
colour[2]

['white', 'green', 'pink']

In [105]:
colour[2][1].upper()

'GREEN'

In [106]:
#only prints the value is upper case
print( colour[2][1].upper())

GREEN

In [125]:
#only prints the value is upper case
print( colour[2][1].lower())

green

In [107]:
colour[2][2].isupper()

False

In [108]:
colour[2][2]= "BLACK"
colour

{1: ['red', 'yellow', 'blue'],
 2: ['white', 'green', 'BLACK'],
 3: ['orange ', 'black', 'purple']}

## Set >>>> name =([val , val]) or s2={val , val}

In [109]:
# set has no index so value can not be fetched  with index no>>>>>>>INODERED and IMMUTABLE 
#no duplicate value will be printed >>>>>>> UNIQUE VALUES 
#Sample____s1=set ([33,36,18,45,68]) or s2=set{23,25,45,8,69,84}

In [110]:
s1=set([21,25,65,84,84,84,98,7485,65])
s2={1,2,3,3,5,4,6,8,7,9,9}

In [111]:
s1

{21, 25, 65, 84, 98, 7485}

In [112]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [113]:
type(s1)

set

In [114]:
s1[2]

TypeError: 'set' object is not subscriptable

In [126]:
#any value will pop out as there is no index no
s1.pop()

65

In [127]:
s1

{21, 25, 84, 98, 7485}

In [128]:
s1.remove(7485)

In [129]:
s1

{21, 25, 84, 98}

In [132]:
s1.add(10001)

In [134]:
s1

{21, 25, 84, 98, 10001}

In [139]:
s1.add(98)

In [137]:
s1

{21, 25, 84, 98, 10001}

# Practice 21052021 ( list )

In [140]:
ab=[]
for x in range (2,21,2):
    ab.append(x**2)

print(ab)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [141]:
cd=[x**2 for x in range (2,21,2)]
print(cd)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [142]:
ef = list(map(lambda x: x**2, range(2,21,2)))
print(ef)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

## importing collection library

In [143]:
from collections import deque

In [144]:
listnun=deque([1,2,3,4,5,6,7,88])

In [145]:
listnun.append(999)
listnun

deque([1, 2, 3, 4, 5, 6, 7, 88, 999])

In [146]:
listnun.pop()

999

In [147]:
listnun.popleft()

1

### >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [148]:
listnum

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
for i in listnum :
    print ( i**3,"--",i*2 , end=" , ")